<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='enterAEM.ppalHeader'}"
/>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='enterAEM.ppalHeader'}"
/>
<nav class="navbar">
    <div class="navbar-content">
        <div class="menu">
            <span>
                MENÚ
            </span>
            <i class="fa fa-bars"></i>
        </div>
        <img class="logo" src="/apps/enterAEM/components/content/ppalheader/assets/logo.svg" alt="logo">
        <img class="promo" src="/apps/enterAEM/components/content/ppalheader/assets/promo.png" alt="logo">
    </div>
</nav>