@import url('https://fonts.googleapis.com/css?family=Oswald');
@red:#e33d25;
@white:#f0efe3;
@black:#282828;
@black-trans:rgba(0,0,0,0.4);
@black-trans-2:rgba(0,0,0,0.7);
.movie-card{
    display: block;
    margin: 1rem;
    width: 12rem;
    height: 15rem;
    cursor: pointer;
    position: relative;
    background-color: @black;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15rem;
        box-sizing: border-box;
        background-image: linear-gradient(@black-trans-2,@black-trans); 
        padding: 0.5rem 1rem 1rem;
        .title{
            font-family: 'Oswald', sans-serif;
            text-align: justify;
            color: @white;
            line-height: 1.25em;
            font-weight: 300;
            margin: 0;
            font-size: 1.1rem;
        }
    }
    .points{
        position: absolute;
        bottom: -2rem;
        left: calc(50% - 3rem);
        display: flex;
        justify-content: center;
        font-size: 2rem;
        align-items: center;
        color: #6e6e6e;
        background-color: @white;
        width: 6rem;
        height: 4rem;
        border-radius: 3px;
    }
    .border{
        width: 110%;
        position: absolute;
        height: 110%;
        background-color: transparent;
        border:5px solid @red;
        border-radius: 1rem;
    }
}