<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.js @ categories='enterAEM.newscard'}"/>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
data-sly-call="${clientlib.css @ categories='enterAEM.newscard'}"/>
<a  class="card" 
    data-sly-use.card="enterAEM.core.models.CardModel"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    href="${card.path @ extension = 'html'}"
    >
    <img src="${card.imageResource @ context='uri'}" alt="">
    <div class="info">
        <div class="title" data-sly-test.title="${card.title}"> 
                ${title}
        </div>
        <div class="author">
        	Por: ${card.author}
            <!-- Fernando Mejía August 31, 2018 10:45 AM-->
        </div>
        <div class="text" data-sly-test.description="${card.description}">
                ${description}
        </div>
        <div class="footer">
            <span><i class="fa fa-facebook"></i> </span>
            <span><i class="fa fa-google"></i> </span>
            <span><i class="fa fa-twitter"></i> </span>
            <span><i class="fa fa-facebook"></i> </span>
        </div>
    </div>
</a>
<!-- <sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=card.isEmpty}"></sly> -->
