@red:#e33d25;
@white:#f0efe3;
@black:#282828;
@black-trans:rgba(0,0,0,0.4);
.navbar{
    background-color: @black;
    width: 100%;
    height: 3.75em;
    border-bottom: 4px solid @red;
    .navbar-content{
        display: flex;
        height: 100%;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        .menu{
            width: 5rem;
            height: 2em;
            cursor: pointer;
            margin-right: 2rem;
            background-color: @red;
            border-radius: 3px;
            padding: .25em .625em;
            display: flex;
            align-items: center;
            span{
                font-family: 'Oswald', sans-serif;
                font-size: 1rem;
                font-weight: 300;
                color: @white;
                margin-right: 0.25em;
            }
            i{
                font-size: 1.5rem;
                color: @white;
            }
        }
        .logo{
            height: 2rem;
        }
        .promo{
            height: 3.8rem;
        }
    }
}