@import url('https://fonts.googleapis.com/css?family=Oswald');
@red:#e33d25;
@white:#f0efe3;
@black:#282828;
@black-opacity:rgba(0,0,0,0.4);

    .card{
        display: block;
        overflow: hidden; 
        width: 20rem;
        height: 15rem;
        cursor: pointer;
        position: relative;
        background-color: @black;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .info{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 4.5rem;
            background-color: @black-opacity;
            padding: 0.5rem 1rem 1rem;
            .title,.author,.text{
                font-family: 'Oswald', sans-serif;
                text-align: justify;
                color: @white;
            }
            .title{
                line-height: 1.25em;
                font-weight: 300;
                margin: 0;
                font-size: 1.1rem;
            }
            .author{
                font-size: 0.9rem;
                display: none;
            }
            .text{
                margin-top: 1rem;
                font-size: 0.9rem;
                display: none;
            }
            .footer{
                position: absolute;
                left: 0;
                bottom: -12rem;
                height: 2.7rem;
                color:@white;
                width: 100%;
                padding-top:0.3rem;
                font-size: 1.3rem;
                justify-content: center;
                align-items: flex-start;
                box-shadow: 0 -5px 9px #9c0f0f;
                span{
                    margin: 0 0.5rem;
                }
            }
        }
    }
    .card:hover{
        img{
            transform:translate(0,-15rem);
            transition: 0.5s all;
        }
        .info{
            height: 15rem;
            background-color: @red;
            transition: 0.5s all;
        }
        .author,.text,.footer{
            display: block;
            transition: 0.5s all;
        }
        .footer{
            bottom: 0rem;
            display:flex;
            transition: 0.5s all;
        }
    }