@import url('https://fonts.googleapis.com/css?family=Oswald');
@red:#e33d25;
@white:#f0efe3;
@black:#282828;
@black-trans:rgba(0,0,0,0.4);

.cards-container{
    width:100%;
    position: relative;
    margin: 1rem auto;
    display: flex;
    justify-content: start;
    background-color: white;
    flex-wrap: wrap;
    align-items: center;
    .next-page{
        position: absolute;
        top: calc(50% - 1rem);
        right: -1.1rem;
        .direction{
            cursor: pointer;
            background-image: linear-gradient(#6e6e6e,#222);
            height: 2rem;
            border-radius: 3px;
            border: 1px solid #5e5e5e;
            width: 2.2rem;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .triangle{
            width: 0;
            height: 0;
            margin-left: 1.1rem;
            border-left: 0px solid transparent;
            border-right: 1.1rem solid transparent;
            border-top: 0.6rem solid #222;
        }
        .direction:hover{
            box-shadow: 0 0 5px #5e5e5e;
            color: #e6e6e6;
        }
    }
    .prev-page{
        position: absolute;
        top: calc(50% - 1rem);
        left: -1.1rem;
        .direction{
            cursor: pointer;
            background-image: linear-gradient(#6e6e6e,#222);
            height: 2rem;
            border-radius: 3px;
            border: 1px solid #5e5e5e;
            width: 2.2rem;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .triangle{
            width: 0;
            height: 0;
            margin-right: 1.1rem;
            border-right: 0px solid transparent;
            border-left: 1.1rem solid transparent;
            border-top: 0.6rem solid #222;
        }
        .direction:hover{
            box-shadow: 0 0 5px #5e5e5e;
            color: #e6e6e6;
        }
    }
}

.cardContent {
    display:flex;
    
    &.horizontal{
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    &.vertical {
        flex-direction: column;
        align-items: flex-start;
    }
    
    &.align-start{
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    &.align-middle{
        justify-content: center;
        align-items: center; 
    }
    
    &.align-end{
        justify-content: flex-end;
        align-items: flex-end;
    }
}
