<div data-sly-use.colControl="enterAEM.core.models.TwoColumnVariant" data-sly-unwrap></div>


<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start" data-emptytext="Start of Two Column Variants">
    <!--Start of ${colControl.col} Columns-->
</div>

<div class="row">
    <div data-sly-list="${colControl.col}" data-sly-unwrap>

        <div data-sly-attribute="${item.clssAttr1}">
            <div data-sly-resource="${@ path='par_0', resourceType='foundation/components/parsys'}" data-sly-unwrap></div>
        </div>
        <div data-sly-attribute="${item.clssAttr2}">
            <div data-sly-resource="${@ path='par_1', resourceType='foundation/components/parsys'}" data-sly-unwrap></div>
        </div>
    </div>
</div>

<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-end" data-emptytext="End of Columns">
    <!--End of Columns-->
</div>