<div data-sly-use.colControl="enterAEM.core.models.ColumnControl" data-sly-unwrap></div>


<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start" data-emptytext="Start of ${colControl.col.size} Columns">
    <!--Start of ${colControl.col} Columns-->
</div>
<div class="row">
    <div data-sly-list="${colControl.col}" data-sly-unwrap>
        <sly data-sly-test.par="${'{0}{1}' @format=['par_',item.count]}" />
        <sly data-sly-test.desktop="${'{0}{1}' @format=['col-md-',item.deskVal]}" />
        <sly data-sly-test.tablet="${'{0}{1}' @format=['col-sm-',item.tabVal]}" />
        <div class="${desktop} ${tablet}">
            <div data-sly-resource="${@ path=par, resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap></div>
        </div>
    </div>
</div>
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-end" data-emptytext="End of Columns">
    <!--End of Columns-->
</div>