<div data-sly-use.card="enterAEM.core.models.CardModel"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
     <!-- use method getLinkPath() to populate card link -->
     <a href="${card.path @ extension = 'html'}">
        <!-- use an in-line style to populate the background image of the card, using the getImageSrc() method -->
        <div style= "background-image: url(${card.imageResource @ context='uri'})">
                <div >
                     <!-- Populate the card title using the getTitle() method -->
                     <h2 data-sly-test.title="${card.title}">${title}</h2>
                     <!-- Populate the description using the getDescription() method -->
                     <h3 data-sly-test.description="${card.description}">${description}</h3>
                     
                </div>
            </div>
    </a>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=card.isEmpty}"></sly>