<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.js @ categories='enterAEM.moviecard'}"/>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
data-sly-call="${clientlib.css @ categories='enterAEM.moviecard'}"/>
<a  class="movie-card" 
    data-sly-use.card="enterAEM.core.models.CardModel"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    href="${card.path @ extension = 'html'}"
    >
    <img src="${card.imageResource @ context='uri'}" alt="">
    <div class="info">
        <div class="title" data-sly-test.title="${card.title}"> 
                ${title}
        </div>
        <div class="points">
            4.5/5
            <div class="border"></div>
        </div>
    </div>
</a>
<!-- <sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=card.isEmpty}"></sly> -->
