<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.js @ categories='enterAEM.cardcontainer'}"
/>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
data-sly-call="${clientlib.css @ categories='enterAEM.cardcontainer'}"
/>
<div class="cards-container">
	<div class="row">
	    <div data-sly-use.logic = "${'./clientlib/js/logic.js' @ amount =  properties.amount}"
	     data-sly-list.option="${logic}"
	     data-sly-attribute.class="cardContent
	                               ${properties.orientation == 'horizontal' ? 'horizontal' : 'vertical' }
	                               ${properties.align == 'start' ? 'align-start' : (properties.align == 'middle' ? 'align-middle' : 'align-end') }">
	            <div data-sly-resource="${'carHeader' @ resourceType='/apps/enterAEM/components/content/newscard'}"
	                 data-sly-attribute.class="card">
	            </div>
	        
	    </div>
    </div>
    <div class="next-page">
        <div class="direction">
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="triangle"></div>
    </div>
    <div class="prev-page">
        <div class="direction">
            <i class="fa fa-angle-left"></i>
        </div>
        <div class="triangle"></div>
    </div>
</div>